<div class="row">
  <span class="alert alert-primary" *ngIf="data.length === 0">
    Não exitem dados a serem carregados
  </span>
</div>
<div class="row">
  <table class="table table-striped">
    <thead>
      <th *ngFor="let column of columns"
      [tableSort]="data">{{column.label}}</th>
    </thead>
    <tBody>
      <tr *ngFor="let data of data" (click)="selectRow(data)">
        <td *ngFor="let column of columns">
          <div [ngSwitch]="column.type">
            <table-column-icon
              *ngSwitchCase="'icon'"
              [t-icons]="getIcon(column)"
              [t-data]="data[column.property]"
            >
            </table-column-icon>
            <span *ngSwitchDefault>
              {{data[column.property]}}
            </span>
          </div>

        </td>
      </tr>
    </tBody>
  </table>
</div>

